*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;

}
.container{
    height: 100vh;
    overflow-y: auto ;
    overflow-x: hidden;
    perspective: 10px;
}

.section{
    background-color: #144221;
    display: grid;
    place-content: center;
    align-content: center;
    height: 100vh;
}


/* .test{
    overflow: auto;
    width: 500px;
    height: 500px;
    background: blue;
    animation: scroll linear forwards;
    transform: translateX(-300px);
    animation-timeline: view();
    opacity: 0;
    animation-range: 100px 500px;
} */

header{
    background: rgb(20,66,33);
    background: linear-gradient(0deg, rgba(20,66,33,1) 8%, rgba(184,200,6,1) 36%, rgba(30,144,182,1) 58%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: -1;
}


.parallax{
    position: absolute;
    object-fit: contain;
}

.cloud{
    animation: startclouds linear forwards;
}

.cloud1{
    transform: translate(400px, -200px) scale(2);
    animation: parallax;
    animation-timeline: scroll();
    --parallax-speed: 20;
}

.cloud2{
    transform: translate(-500px, -250px) scale(2.5);
    animation: parallax;
    animation-timeline: scroll();
    --parallax-speed: 20;
}

.logo{
    animation: parallax linear forwards;
    animation-timeline: scroll();
    --parallax-speed: 30;

}
.foreground{
    bottom: -100px;
    width: 100%;;
    z-index: 1;
}

@keyframes parallax{
    to{
        transform: translateY(calc(var(--parallax-speed) * 200px));
    }
}

@keyframes startclouds{

    from{
        transform: translateY(-1000px)
    }
}
@keyframes start{
    to{
        transform: translateY(0px);
    }
}

@keyframes startbush{
    to{
        transform: translateY(100px);
    }
}


@keyframes scroll{
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}