*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    margin: 0;

}

.container{
    overflow-y: auto;
    height: 100vh;
    perspective: 10px;
    overflow-x: hidden;
}

.section{
    background-color: #144221;
    display: grid;
    place-content: center;
    align-content: center;
    height: 100vh;
}


/* .test{
    overflow: auto;
    width: 500px;
    height: 500px;
    background: blue;
    animation: scroll linear forwards;
    transform: translateX(-300px);
    animation-timeline: view();
    opacity: 0;
    animation-range: 100px 500px;
} */

header{
    /* background: rgb(20,66,33);
    background: linear-gradient(0deg, rgba(20,66,33,1) 8%, rgba(184,200,6,1) 36%, rgba(30,144,182,1) 58%); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;

}

.parallax{

}

.parallaxElements{
    position: absolute;
    object-fit: cover;
}

.clouds{
height: 100%;
width: 100%;
object-fit: contain;
transform: translateZ(-10px) scale(3);
animation: startclouds ease 3s forwards;

}
.logo{

    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateZ(-5px) scale(2);
    animation: start ease 2s forwards;


}
.foreground{
    bottom: -100px;
    width: 100%;;
    z-index: 1;
    animation: startbush ease 3s forwards;
}

.bgcolor{
    background: rgb(20,66,33);
    background: linear-gradient(0deg, rgba(20,66,33,1) 8%, rgba(184,200,6,1) 36%, rgba(30,144,182,1) 58%); 
    height: 100%;
    width: 100%;
    transform: translateZ(-10px) scale(3);
}

@keyframes startclouds{
    from{
        transform: translateY(-1000px)
    }
}

@keyframes start{
    from{
        transform: translateY(1000px);
    }
}

@keyframes startbush{
    from{
        transform: translateY(1000px);
    }
}


@keyframes scroll{
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}